

        body {
          background-color: rgb(36, 166, 209);
        }
        
        h1 {
          color: rgb(214, 56, 8);
          text-align: center;
        }
        
        p {
          font-family: verdana;
          font-size: 29pt;
        }

