

        body {
          background-color: rgb(36, 166, 209);
        }
        
        h1 {
          color: rgb(235, 22, 6);
          text-align: center;
        }
        
        p {
          font-family: verdana;
          font-size: 30pt;
        }

        
